<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

<!-- Modal -->
<form action="/register" method="POST">
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-4 text-center w-100" id="exampleModalLabel">Sign up</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <p class="lead fw-normal mb-0 me-3">Sign up with</p>
                        <a href="/google" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>

                    <div class="form-outline mb-4 p-1">
                        <input type="text" id="Username" name="username" class="form-control" required />
                        <label class="form-label" for="Username">Username</label>
                    </div>

                    <div class="form-outline mb-4 p-1">
                        <input type="email" id="Email" name="email" class="form-control" required />
                        <label class="form-label" for="Email">Email address</label>
                    </div>

                    <div class="form-outline mb-4 p-1">
                        <input type="password" id="Password" name="password" class="form-control" required />
                        <label class="form-label" for="Password">Password</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

                    <!-- login buttons -->
                    <div class="text-center">
                        <p class="text-center">Already have an Account? <a data-bs-toggle="modal" href=""
                                data-bs-target="#loginModal">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>