<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Drag and Drop</title>
  <link rel="stylesheet" href="./styles/activity.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>
  <%- include("./partials/header"); %>

    <main>
      <div class="d-block text-center fs-4 mb-2">Drag and Drop</div>
      <div class="alert alert-success container mb-2" role="alert">
        Note: Drag and Drop names with associated figure then click the evaluate button to see the result.
      </div>
      <div class="container-fluid d-flex qu">
        <div class="row" id="questions">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/Burette-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B1"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/Pipette-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B2"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/conical_flask-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B3"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/burette_stand-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B4"></div>
            </div>
          </div>



          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/beaker-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B5"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/magnetic-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B6"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/kmno4-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B7"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/feso4-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B8"></div>
            </div>
          </div>


          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/k2cr2o7-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B9"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/phenopthalin-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B10"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/bromothyl_blue-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B11"></div>
            </div>
          </div>

          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="images/activity/methyl_orange-removebg-preview.png" alt="Card image cap">
            <div class="card-body">
              <div class="ans" id="B12"></div>
            </div>
          </div>

        </div>
        <div id="sidebar">
          <div class="select" draggable="true" id="A1">Burette</div>
          <div class="select" draggable="true" id="A2">Pipette</div>
          <div class="select" draggable="true" id="A3">Conical Flask</div>
          <div class="select" draggable="true" id="A4">Burette stand</div>
          <div class="select" draggable="true" id="A5">Beaker</div>
          <div class="select" draggable="true" id="A6">Magnetic Stirrer</div>
          <div class="select" draggable="true" id="A7">
            Potassium permanganate
          </div>
          <div class="select" draggable="true" id="A8">Iron(II) sulfate</div>
          <div class="select" draggable="true" id="A9">Potassium dichromate</div>
          <div class="select" draggable="true" id="A10">Phenopthalin</div>
          <div class="select" draggable="true" id="A11">bromothyl blue</div>
          <div class="select" draggable="true" id="A12">Methyl Orange</div>
          <button type="button" class="butn" onclick="checking()">Evaluate</button>
          <div id="error"></div>
        </div>
      </div>
    </main>
</body>
<script src="./scripts/activity.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</html>