<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Home</title>
    <link rel="stylesheet" href="./styles/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./styles/fancyselect.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@100&family=Poppins:ital,wght@1,300&family=Roboto+Mono&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("./partials/header"); %>
        <%- include("./flash"); %>
            <main>
                <div id="effect">
                    <span>Welcome to the Titration Virtual Lab of Nirma University!</span>
                </div>
                <section>
                    <div class="row">
                        <h1 style="
                    margin-bottom: 20px;
                ">About us</h1>
                        <div class="card" style="
                    padding: 60px 100px;
                    color: rgb(58, 58, 58);
                ">
                            <h4 style="line-height: 0.8cm;">We offer virtual laboratory simulations for students and
                                researchers
                                in various scientific
                                and engineering disciplines. Our platform provides hands-on learning experiences through
                                simulations that replicate real-world labs. With a team of experienced educators, we are
                                committed to delivering high-quality educational content that fosters curiosity,
                                critical
                                thinking, and innovation. As part of Nirma University's commitment to excellence in
                                education and research, we strive to support the academic and professional growth of our
                                users through innovative virtual learning solutions. Our website includes comprehensive
                                resources on titration theory, procedures, simulations, quizzes, assignments, and
                                activity
                                games. Join us on this exciting journey of exploration and discovery!
                            </h4>

                        </div>
                    </div>
                    <div class="row">
                        <h1>Mentors</h1>
                    </div>
                    <div class="row1">
                        <!-- Column 1-->
                        <div class="column1">
                            <div class="card card1 m-3">
                                <div class="img-container">
                                    <img src="./images/m1.png" />
                                </div>
                                <h3>Amita Chaudhary</h3>
                                <p>Professor</p>

                            </div>
                        </div>
                        <!-- Column 2-->
                        <div class="column1">
                            <div class="card card1 m-3">
                                <div class="img-container">
                                    <img src="./images/m2.png" />
                                </div>
                                <h3>Neha Patni</h3>
                                <p>Professor</p>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <h1>Our Team</h1>
                    </div>
                    <div class="row">
                        <!-- Column 1-->
                        <div class="column">
                            <div class="card card1">
                                <div class="img-container">
                                    <img src="./images/t1.jpg" />
                                </div>
                                <h3>Vishv Jetani</h3>
                                <p>Developer</p>
                                <div class="icons">

                                    <a href="https://www.linkedin.com/in/vishv-jetani-aa7672202/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/jetanivishv">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="mailto:jetanivishv@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Column 2-->
                        <div class="column">
                            <div class="card card1">
                                <div class="img-container">
                                    <img src="./images/t2.jpeg" />
                                </div>
                                <h3>Jatin Undhad</h3>
                                <p>Developer</p>
                                <div class="icons">

                                    <a href="https://www.linkedin.com/in/jatinundhad/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/jatinundhad">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="mailto:jatinundhad0712@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Column 3-->
                        <div class="column">
                            <div class="card card1">
                                <div class="img-container">
                                    <img src="./images/t3.jpg" />
                                </div>
                                <h3>Vedant Modi</h3>
                                <p>Developer</p>
                                <div class="icons">

                                    <a href="https://www.linkedin.com/in/vedant-modi-0495161bb/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/vedant8689">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="mailto:vedantmodi8689@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Column 1-->
                        <div class="column">
                            <div class="card card1">
                                <div class="img-container">
                                    <img src="./images/t4.png" />
                                </div>
                                <h3>Nupur Parikh</h3>
                                <p>Developer</p>
                                <div class="icons">

                                    <a href="https://in.linkedin.com/in/nupurparikh02">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/nupurparikh">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="mailto:nupurparikh02@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Column 2-->
                        <div class="column">
                            <div class="card card1">
                                <div class="img-container">
                                    <img src="./images/t5.png" />
                                </div>
                                <h3>Hetvi Bhansali</h3>
                                <p>Developer</p>
                                <div class="icons">
                                    <a href="https://www.linkedin.com/in/hetvibhansali11/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/hpb11">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="mailto:hetvipb11@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Column 3-->
                        <div class="column">
                            <div class="card card1">
                                <div class="img-container">
                                    <img src="./images/t6.png" />
                                </div>
                                <h3>Devangi Hadiya</h3>
                                <p>Developer</p>
                                <div class="icons">

                                    <a href="https://www.linkedin.com/in/devangi-hadiya-245121210/">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                    <a href="https://github.com/devangi02">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="mailto:devangihadiya@gmail.com">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

<script type="text/javascript" src="./scripts/fancyselect.min.js"></script>

</html>