<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/theory.css">
    <title>Theory</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Acme&family=Montserrat:wght@100&family=Poppins:ital,wght@1,300&family=Roboto+Mono&family=Roboto:wght@100;400&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include("./partials/header"); %>
        <main class="container">
            <div class="obj">
                <h2>Objective</h2>
                <p>To determine the amount of substance in a solution of unknown concentration using various titrimetric
                    methods.</p>
            </div>
            <div class="theory">
                <div class="title">
                    <h2>Theory</h2>
                </div>
                <h3>Titration:</h3>
                <p>The word titration comes from the Latin word "titulus", which means inscription or title. The French
                    word
                    title means rank. Therefore, Titration means the determination of concentration or rank of a
                    solution
                    with
                    respect to water with a pH of 7.
                    The standard solution is usually added from a graduated vessel called a burette. The process of
                    adding
                    standard solution until the reaction is just complete is termed as titration and the substance to be
                    determined is said to be titrated.


                    All chemical reactions cannot be considered as titrations. A reaction can serve as a basis of a
                    titration
                    procedure only if the following conditions are satisfied: <br>

                    <br>
                    1.The reaction must be a fast one.<br>
                    2.It must proceed stoichiometrically.<br>
                    3.The change in free energy (ΔG) during the reaction must be sufficiently large for spontaneity of
                    the
                    reaction.<br>
                    4.There should be a way to detect the completion of the reaction.<br>
                </p>
                <h3>End point and Equivalent point:</h3>
                <p>For a reaction, a stage which shows the completion of a particular reaction is known as end point.
                    Equivalence point is a stage in which the amount of reagent added is exactly and stoichiometrically
                    equivalent to the amount of the reacting substance in the titrated solution. The end point is
                    detected
                    by
                    some physical change produced by the solution, by itself or more usually by the addition of an
                    auxiliary
                    reagent known as an 'indicator'. The end point and the equivalence point may not be identical. End
                    point
                    is
                    usually detected only after adding a slight excess of the titrant. In many cases, the difference
                    between
                    these two will fall within the experimental error.</p>
                <h3>Indicator:</h3>
                <p>It is a chemical reagent used to recognize the attainment of end point in a titration. After the
                    reaction
                    between the substance and the standard solution is complete, the indicator should give a clear
                    colour
                    change.
                    When a titration is carried out, the free energy change for the reaction is always negative.That is,
                    during
                    the initial stages of the reaction between A & B, when the titrant A is added to B the following
                    reaction
                    takes place.</p>
                <div class="nav">
                    <img src="./images/first_rxn.png"><br>
                </div>
                Equilibrium constant,<br>
                <div class="nav">
                    <img src="./images/second_rxn.png"><br>
                </div>
                a = activity co-efficient.<br>
                Large values of the equilibrium constant K implies that the equilibrium concentration of A & B are very
                small at
                the equivalence point. It also indicates that the reverse reaction is negligible and the product C & D
                are
                very
                much more stable than the reactants A & B. Greater the value of K the larger the magnitude of the
                negative
                free
                energy change for the reaction between A & B. Since,<br>
                <div class="nav">
                    <img src="./images/third_rxn.png"><br>
                </div>

                <p>Where, <br><br>
                    R = Universal gas Constant = 8.314 JK-1mol-1,<br>
                    T = Absolute Temperature.<br><br>
                    The reaction of the concentration of A & B leads to the reduction of the total free energy change.
                    If
                    the
                    concentrations of A & B are too low the magnitude of the total free energy change becomes so small
                    and
                    the
                    use of the reaction for titration will not be feasible.</p>
                <h3>Acid base titration:</h3>
                <p>The chemical reaction involved in acid-base titration is known as neutralisation reaction. It
                    involves
                    the
                    combination of H3O+ ions with OH- ions to form water. In acid-base titrations, solutions of alkali
                    are
                    titrated against standard acid solutions. The estimation of an alkali solution using a standard acid
                    solution is called <i>acidimetry</i>. Similarly, the estimation of an acid solution using a standard
                    alkali
                    solution is called <i>alkalimetry</i>.</p>
                <h3>The Theory of Acid–Base Indicators: </h3>
                <p>Ostwald, developed a theory of acid base indicators which gives an explanation for the colour change
                    with
                    change in pH. According to this theory, a hydrogen ion indicator is a weak organic acid or base. The
                    undissociated molecule will have one colour and the ion formed by its dissociation will have a
                    different
                    colour.<br><br>

                    Let the indicator be a weak organic acid of formulae HIn. It has dissociated into H+ and In- . The
                    unionized
                    molecule has one colour, say colour (1), while the ion, In- has a different colour, say colour (2).
                    Since
                    HIn and In- have different colours, the actual colour of the indicator will dependent upon the
                    hydrogen
                    ion
                    concentration [H+]. When the solution is acidic, that is the H+ ions present in excess, the
                    indicator
                    will
                    show predominantly colour (1). On other hand, when the solution is alkaline, that is, when OH- ions
                    present
                    in excess, the H+ ions furnished by the indicator will be taken out to form undissociated water.
                    Therefore
                    there will be larger concentration of the ions, In-. thus the indicator will show predominantly
                    colour
                    (2).
                    <br><br>


                    Some indicators can be used to determine pH because of their colour changes somewhere along the
                    change
                    in pH
                    range. Some common indicators and their respective colour changes are given below. <br>
                <div class="title"><img src="./images/table.png"><br>
                    <i>i.e., at pH value below 5, litmus is red; above 8 it is blue. Between these values, it is a
                        mixture
                        of
                        two colours.</i>
                </div>
                </p>
                <h3>Redox Titration</h3>
                <p>A reaction in which one or more electrons are lost is known as oxidation and a reaction in which one
                    or more electrons are gained is known as reduction. Accordingly, a substance which can accept one or
                    more electrons is known as oxidizing agent and a substance which can donate one or more electrons is
                    called reducing agent. Titrations of this type are called redox titrations. Thus, redox titrations
                    are those involving transfer of electrons from the reducing agent to the oxidizing agent.
                </p>
                <h3>Redox Indicators: </h3>
                <p>Potassium permanganate, potassium dichromate, ceric sulphate, etc., are the common oxidizing agents
                    used in redox titrations.<br> Oxalic acid, Mohr’s salt and arsenious oxide are reducing agents
                    commonly used in redox titrations.<br><br></p>
            </div>
            <%- include("./partials/footer.ejs") %>
        </main>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

</html>