main {
  margin-top: 20px;
}

.ans {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background-color: rgb(217, 217, 239);
  border-radius: 5px;
  text-align: center;
}

.card {
  height: fit-content !important;
  margin: 10px;
}

img {
  height: 300px;
}

#questions {
  overflow-y: scroll;
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: center;
}

#sidebar {
  width: 20%;
  margin: 50px;
}

.qu {
  display: flex;
  justify-content: center;
}

.select {
  margin-top: 5px;
}

#error {
  color: rgb(244, 71, 71);
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 20px;
}

.navbar img {
  width: 60px;
  margin-top: 0;
  height: 20px;
}
