body {
  margin: 0;
  font-family: "Acme", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3em !important;
  line-height: 0.9cm !important;
  word-spacing: 0.5px;
}

#assignments {
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
}

.Assquestion {
  font-size: large;
  font-style: normal;
  font-weight: 500;
}

.quelist {
  background-color: aliceblue;
  border-radius: 10px;
}

.category {
  padding: 20px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 10px;
  font-style: normal;
  color: slateblue !important;
}

.mainTopic {
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 20px;
  text-align: center;
  font-style: normal;
  color: #053a5fdf !important;
}

#matchcol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.draggable-list {
  padding: 5px;
}

.act {
  margin-top: 44px;
}

.act h3 {
  text-align: center !important;
}

.acti {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: #cfd8dc;
  border: 1px solid #b0bec5;
  color: #263238;
  cursor: grab;
}

.over {
  background-color: #90a4ae;
}

table {
  max-width: 620px;
  margin: auto;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px 10px;
}

td {
  border: 1px solid #90a4ae;
}

button {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #607d8b;
  color: #fff;
}

#endMessage {
  display: none;
}

#matchButton {
  width: 10%;
}
