body {
  margin: 0;
  font-family: "Acme", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3em !important;
  line-height: 0.9cm !important;
  word-spacing: 0.5px;
}

#navbar-toggler {
  border: none;
}

.navbar > div {
  padding: 0 !important;
  margin-top: 0;
}

.nav-item {
  padding: 3px;
  margin: 0 5px;
}

.nav-item:hover {
  background-color: #e9e9e9;
  border-radius: 5em;
}

#navbarText > ul {
  margin: 0 auto;
}

.butn {
  margin-top: 10px;
  width: 100%;
  background-color: #053a5fdf !important;
  color: white !important;
  border-radius: 1em;
  border: none;
  padding: 5px;
  font-size: 18px;
}

.butn {
  border-radius: 20px;
  margin: 0 3px;
  padding: 7px 13px;
}

.butn:hover {
  background-color: #053a5f !important;
}

.butn:active {
  box-shadow: 0 0 10px rgba(100, 100, 170, 0.93) !important;
}

.active {
  background-color: #e9e9e9;
  border-radius: 5em;
}

#profile {
  width: 54px;
  height: 54px;
}

#profile-section {
  margin-left: 24px;
}

#profile-name {
  margin: 10px;
}

.navbar1 ul {
  list-style-type: none;
}

.navbar1 ul li ul {
  position: absolute;
  left: 0;
  width: 250px;
  background-color: #fff;
  padding-left: 0px;
  display: none;
  border-radius: 5px;
}

.navbar1 ul li ul li {
  width: 100%;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  padding-left: 0px;
  padding: 6px;
}

.navbar1 ul li ul li a {
  color: black;
}

.navbar1 ul li:hover > ul {
  display: initial;
}

.navbar1 ul li:hover > ul li:hover {
  background-color: #e9e9e9;
}
