body {
  margin: 0;
}

#navbar-toggler {
  border: none !important;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  padding: 0;
  margin: 0;
  height: 90%;
  width: 90%;
  border-radius: 10px;
}

#setting {
  margin: 10px;
}

.right-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

#burrete {
  width: 70px;
  height: 450px;
}

.experiment {
  width: 60em;
  background-color: #d6d8d5;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  contain: content;
  overflow-x: auto;
  overflow-y: auto;
  overflow: hidden;
  min-width: 300px;
  height: 100%;
}

.experiment > div {
  height: 100%;
}

#knock {
  position: relative;
  height: 60px;
  width: 6px;
  left: -31px;
  top: 140px;
  border-radius: 4px;
}

#beaker {
  width: 110px;
  height: 140px;
  background-color: #e5e5e5;
  position: relative;
  left: -23px;
  top: -33px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  background-color: transparent;
}

#liquid {
  background-color: rgb(138, 235, 255);
  height: 10px;
  border-radius: 0 0 10px 10px;
}

.drop {
  position: relative;
  width: 10px;
  height: 10px;
  top: -166px;
  right: 24px;
  margin: 0 auto;
  background: #94fbf6;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 15px solid #94fbf6;
  top: -9px;
}

@keyframes drip {
  to {
    top: 70px;
  }
}
