#burrete {
  width: 90px;
  height: 500px;
}

.container {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#knock {
  position: relative;
  height: 60px;
  width: 6px;
  left: -36px;
  top: -95px;
  border-radius: 4px;
}

#beaker {
  width: 120px;
  height: 170px;
  background-color: #e5e5e5;
  position: relative;
  left: -19px;
  top: 96px;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.experiment {
  background-color: #cad2c5;
  width: 40%;
  height: 900px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  min-width: 250px;
}

#liquid {
  background-color: rgb(138, 235, 255);
  height: 10px;
  border-radius: 0 0 10px 10px;
}

.drop {
  position: relative;
  width: 20px;
  height: 20px;
  top: -166px;
  right: 19px;
  margin: 0 auto;
  background: #94fbf6;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  animation-timing-function: cubic-bezier(1, 0, 0.91, 0.19);
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 30px solid rgba(255, 255, 255, 1);
  top: -22px;
}

.wave {
  position: relative;
  opacity: 0;
  top: 40px;
  width: 2px;
  height: 1px;
  border: #fff 7px solid;
  -moz-border-radius: 300px / 150px;
  -webkit-border-radius: 300px / 150px;
  border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -7px;
  left: -13px;
  width: 2px;
  height: 1px;
  border: #fff 5px solid;
  -moz-border-radius: 300px / 150px;
  -webkit-border-radius: 300px / 150px;
  border-radius: 300px / 150px;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes ripple {
  from {
    opacity: 1;
  }
  to {
    width: 75px;
    height: 30px;
    border-width: 1px;
    opacity: 0;
  }
}

@keyframes ripple-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    width: 150px;
    height: 50px;
    border-width: 1px;
  }
}

@keyframes drip {
  to {
    top: 70px;
    display: none;
  }
}
