body {
  margin: 0;
  font-family: "Acme", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3em !important;
  line-height: 0.9cm !important;
  word-spacing: 0.5px;
}

#rules {
  margin: auto;
  width: 90%;
  background-color: #a8d0d7ac;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  height: 600px;
}

h1 {
  font-weight: 400 !important;
}

ol {
  margin: 20px;
  width: 70%;
  overflow-y: scroll;
}

li {
  padding: 5px;
}

#start {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 30%;
  margin-top: 25px;
}

#start .butn {
  padding: 10px;
  width: 70%;
}

#mcq {
  display: flex;
  justify-content: center;
}

#mcq #q-container {
  width: 45%;
  font-weight: 400;
  margin-top: 30px;
}

#mcq h2 {
  font-size: 1.2em;
}

#mcq .op {
  width: 55%;
}

.options {
  width: 100%;
  background-color: white;
  height: 3em;
  display: flex;
  margin: 1em;
  transition-duration: 0.4s;
  border: 1px solid lightgray;
}

.options:hover {
  box-shadow: 0px 0px 20px lightgray;
  transform: scale(1.02, 1.2);
}

.option-id {
  font-size: 1em;
  background-color: rgb(79, 79, 188);
  width: 3em;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.choice-text {
  font-size: 0.9em;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-top: 5px;
}

.choice-text:hover {
  cursor: pointer;
}

.correct {
  background-color: rgb(26, 230, 26);
  font-weight: bold;
}

.incorrect {
  background-color: rgb(245, 38, 38);
  font-weight: bold;
}

.btn {
  font-size: 18px;
}

#btnn {
  background-color: rgba(127, 169, 227, 0.621);
  border-radius: 2em;
}

#btnn:hover {
  background-color: rgba(127, 169, 227);
}

#NextBtn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.container {
  width: 100em;
}

#nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(185, 183, 183);
  margin-top: 10px;
}

#nav p,
#NextBtn button {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  background-color: rgba(127, 169, 227, 0.621);
  padding: 10px 20px;
  border: 1px white solid;
  border-radius: 2em;
  width: 15em;
  margin: 0 5px;
}

.hidden {
  display: none;
}

.display-6 {
  font-weight: 400;
}
