body {
  margin: 0;
  font-family: "Acme", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3em !important;
  line-height: 0.9cm !important;
  word-spacing: 0.5px;
}

.obj {
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 20px;
  text-align: center;
}

.theory {
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  justify-content: left;
  text-align: left;
  font-size: large;
}

.title {
  text-align: center;
}

.nav,
.navp {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px;
}

.nav img,
.navp img {
  width: 40%;
}

.theory1 {
  background-color: aliceblue;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  justify-content: left;
  text-align: left;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: slateblue !important;
  text-align: left !important;
}
h2 {
  color: #053a5fdf !important;
}

ul {
  line-height: 0.5cm;
  margin-top: 15px;
}

main {
  margin-bottom: 50px !important;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1,
h3 {
  text-align: center;
}

p {
  text-align: left;
}

#matchcol {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}

.draggable-list {
  padding: 5px;
}

.acti {
  list-style: none;
  padding: 10px;
  margin: 5px;
  background-color: #cfd8dc;
  border: 1px solid #b0bec5;
  color: #263238;
  cursor: grab;
}

.over {
  background-color: #90a4ae;
}

table {
  max-width: 620px;
  margin: auto;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px 10px;
}

td {
  border: 1px solid #90a4ae;
}

button {
  margin: auto;
  cursor: pointer;
  display: block;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #607d8b;
  color: #fff;
}

#endMessage {
  display: none;
}

#matchButton {
  width: 10%;
}
