body {
  margin: 0;
  font-family: "Acme", sans-serif !important;
  font-family: "Montserrat", sans-serif !important;
  font-family: "Poppins", sans-serif !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 1.3em !important;
  line-height: 0.9cm !important;
  word-spacing: 0.5px;
}

.obj {
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 20px;
  text-align: center;
}

.theory {
  padding: 20px;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  justify-content: left;
  text-align: left;
  font-size: large;
}

.title {
  text-align: center;
}

.nav,
.navp {
  display: flex;
  justify-content: center;
  height: auto;
  padding: 10px;
}

.nav img,
.navp img {
  width: 40%;
}

.theory1 {
  background-color: aliceblue;
  margin-top: 10px;
  text-align: center;
  font-style: normal;
  justify-content: left;
  text-align: left;
  font-size: large;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  color: slateblue !important;
  text-align: left !important;
}
h2 {
  color: #053a5fdf !important;
}

ul {
  line-height: 0.5cm;
  margin-top: 15px;
}

main {
  margin-bottom: 50px !important;
}

.container {
  max-width: 960px;
  margin: auto;
}

h1,
h3 {
  text-align: center;
}

p {
  text-align: left;
}
